*, *::before, *::after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}
  
:focus {
    outline: none;
}
  
button {
    cursor: pointer;
}
  
a {
    padding: 0;
    margin: 0; 
    text-decoration: none; 
}
  
p {
    padding: 0;
    margin: 0; 
}
  
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0; 
}
h1 {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
h2 {
    color: #000;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 56px;
}
h5 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
  
ul, ol {
    list-style: none; 
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1432px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}
.main_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 60px;
    border-radius: 60px;
    background: linear-gradient(130deg, #68A1ED 0%, #8B94B0 100%);
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
}
.main_btn:hover {
    background: #68A1ED; 
}

.main {
    padding-top: 198px;
}

// modal
.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(0,0,0,0.6);
    padding: 100px 16px;
    opacity: 0;
    transition: all .4s ease;
    overflow-y: auto;
}
.modal.active {
    display: block;
}
.modal.opacity {
    opacity: 1;
    .modal__block {
        transform: scale(1);
    }
}
.modal__block {
    max-width: 600px;
    width: 100%;
    background: #fff;
    margin: 0 auto;
    padding: 50px 32px;
    position: relative;
    transform: scale(0.8);
    transition: all .4s ease;
    .connect__form {
        max-width: 100%;
    }
}
.modal__close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 0;
}

// header
.header {
    width: 100%;
    background: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    border-bottom: 1px solid #D9D9D9;
}
.header__map {
    color: #8B8B8B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header__top {
    min-height: 48px;
    padding: 12px 0;
    background: #F5F5F5;
}
.header__box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header__items {
    display: flex;
    margin-left: auto;
}
.header__email, .header__phone {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 40px;
    transition: all .2s ease;
    svg {
        margin-right: 8px;
    }
    path {
        transition: all .2s ease;
    }
}
.header__email:hover, .header__phone:hover {
    color: #68A1ED;
    path {
        fill: #68A1ED;
    }
}
.header__call {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: transparent;
    border: 0;
    border-bottom: 1px dotted #000;
    transition: all .2s ease;
}
.header__call:hover {
    color: #68A1ED;
}
.header__bottom {
    display: flex;
    align-items: center;
    min-height: 112px;
    position: relative;
}
.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 83px;
    height: 80px;
    img {
        width: 100%;
    }
}
.header__navbar {
    display: flex;
    align-items: center;
}
.header__catalogBtn {
    margin-right: 27px;
    display: flex;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 8px 16px 8px 22px;
    border-radius: 100px;
    border: 1px solid #D9D9D9;
    background: transparent;
    transition: all .2s ease;
    svg {
        margin-left: 8px;
        transition: all .2s ease;
        path {
            transition: all .2s ease;
        }
    }
}
.header__catalogBtn.active {
    background: #68A1ED;
    border-color: #68A1ED;
    color: #FFF;
    svg {
        transform: rotate(-180deg);
        path {
            stroke: #fff;
        }
    }
}
.header__catalog {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    height: 0;
    background: #FFF;
    overflow: hidden;
    transition: all .3s ease;
    .header__search {
        display: none;
    }
    .box {
        display: flex;
        padding: 56px 0 50px 0;
        align-items: flex-start;
    }
    .block {
        max-width: 330px;
        width: 100%;
        margin-right: 28px;
        margin-bottom: 28px;
    }
    .block:nth-child(4n) {
        margin-right: 0px;
    }
    h5 {
        font-weight: 500;
        display: flex;
        align-items: center;
        font-size: 20px;
        margin-bottom: 24px;
        a {
            display: flex;
            align-items: center;
            color: #000;
        }
        .right {
            display: none;
        }
    }
    .img {
        min-width: 40px;
        width: 40px;
        height: 40px;
        position: relative;
        overflow: hidden;
        margin-right: 16px;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
    }
    li {
        margin-bottom: 16px;
        a {
            color: #505050;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            transition: all .2s ease;
        }
        a:hover {
            color: #68A1ED;
        }
    }
    li:last-child {
        margin-bottom: 0;
    }
}
.catalog_top {
    display: none;
}
.header__catalog.open {
    height: 324px;
    overflow-y: auto;
}
.header__catalog::-webkit-scrollbar {
background-color: #fff;
width: 6px; }

.header__catalog::-webkit-scrollbar-track {
background-color: #fff; }

.header__catalog::-webkit-scrollbar-thumb {
background-color: #babac0; }

.header__catalog::-webkit-scrollbar-button {
display: none; }

.header__navbar > ul {
    display: flex;
    a {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        transition: all .2s ease;
    }
    a:hover {
        color: #68A1ED;
    }
    li {
        margin-right: 33px;
    }
    li:last-child {
        margin-right: 0;
    }
}
.header__right {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header__search {
    width: 474px;
    height: 40px;
    margin-right: 32px;
    border-radius: 64px;
    border: 1px solid #D9D9D9;
    position: relative;
    input {
        border: 0;
        background: transparent;
        width: 100%;
        height: 100%;
        padding: 0 20px;
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    input::placeholder {
        color: rgba(0, 0, 0, 0.50);
    }
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        background: transparent;
        border: 0;
    }
}
.header__cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 0;
    position: relative;
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 21px;
        height: 21px;
        position: absolute;
        top: 0;
        right: -5px;
        border-radius: 40px;
        background: #68A1ED;
        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

// banner
.banner {
    margin-top: -38px;
}
.banner__slider {
    margin-bottom: 0 !important;
    .slick-dots {
        bottom: 32px;
    }
    .slick-dots li {
        width: 16px;
        height: 16px;
        background: rgba(255, 255, 255, 0.50);
        margin: 0 12px;
        padding: 0;
        border-radius: 50%;
    }
    .slick-dots li button {
        display: none;
    }
    .slick-dots li.slick-active {
        background: #fff;
    }
}
.banner__block {
    min-height: 870px;
    h1 {
        text-align: center;
        margin-bottom: 48px;
    }
    h2 {
        text-align: center;
        color: #FFF;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 48px;
    }
}
.banner__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 924px;
    width: 100%;
    margin: 0 auto;
    padding-top: 260px;
    padding-bottom: 200px;
}

// catalog
.catalog {
    .container {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
.catalog__box {
    display: grid;
    grid-gap: 28px;
    grid-template-columns: repeat(4, 1fr);
}
.catalog__block {
    min-height: 452px;
    background: #F8F8F8;
    position: relative;
    h5 {
        position: absolute;
        top: 40px;
        left: 40px;
        right: 40px;
        z-index: 2;
        transition: all .2s ease;
    }
}
.catalog__block:hover {
    h5 {
        color: #68A1ED;
    }
    .catalog__link {
        svg {
            path {
                stroke: #68A1ED;
            }
        }
    }
}
.catalog__link {
    position: absolute;
    bottom: 40px;
    left: 40px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #8B8B8B;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    svg {
        path {
            transition: all .2s ease;
        }
    }
}
.catalog__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
    }
}
.catalog__block:nth-child(1n) {
    grid-column: 1 / 3;
}
.catalog__block:nth-child(2n) {
    grid-column: 3 / 4;
}
.catalog__block:nth-child(3n) {
    grid-column: 4 / 5;
}
.catalog__block:nth-child(4n) {
    grid-column: 1 / 3;
}
.catalog__block:nth-child(5n) {
    grid-column: 3 / 5;
}

// company
.company {
    background: #F8F8F8;
    .container {
        padding-top: 118px;
        padding-bottom: 122px;
    }
}
.company__text {
    max-width: 666px;
    width: 100%;
    color: #505050;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    margin: 0 auto;
    margin-bottom: 40px;
}
.company__box {
    display: flex;
    flex-wrap: wrap;
}
.company__left {
    max-width: 329px;
    width: 100%;
    height: 329px;
    position: relative;
    overflow: hidden;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
    }
}
.company__right {
    max-width: 448px;
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: 28px;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
    }
}
.company__link {
    max-width: 329px;
    width: 100%;
    height: 329px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    color: #8B8B8B;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 60px;
    position: relative;
    svg {
        position: absolute;
        top: 28px;
        right: 28px;
        transition: all .2s ease;
    }
}
.company__link:hover {
    svg {
        transform: translate(5px, -5px);
    }
}

// news
.news {
    .container {
        padding-top: 118px;
        padding-bottom: 120px;
    }
}
.news__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 28px;
}
.news__block {
    display: flex;
    min-height: 382px;
    background: #F8F8F8;
    padding: 28px;
    h5 {
        font-weight: 500;
        margin-top: 16px;
        transition: all .3s ease;
    }
    .icon path {
        transition: all .3s ease;
    }
}
.news__img {
    min-width: 310px;
    width: 310px;
    height: 326px;
    margin-right: 28px;
    position: relative;
    overflow: hidden;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
    }
}
.news__date {
    color: #8B8B8B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all .3s ease;
}
.news__content {
    width: 100%;
    min-height: 326px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news__block:hover {
    h5 {
        color: #538AD4;
    }
    .news__date {
        color: #538AD4;
    }
    .icon path {
        stroke: #538AD4;
    }
}

// connect
.connect {
    background: #F8F8F8;
    .container {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
.connect__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}
.connect__item {
    display: flex;
    align-items: center;
    color: #505050;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 32px;
    svg {
        margin-right: 8px;
    }
}
.connect__item:last-child {
    margin-right: 0;
}
.connect__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.connect__form {
    max-width: 566px;
    width: 100%;
    .main_btn {
        width: 100%;
        height: 52px;
        font-size: 16px;
        margin-bottom: 16px;
    }
    h6 {
        color: #505050;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 18.2px */
        a {
            color: #68A1ED;
        }
    }
}
.connect__input {
    margin-bottom: 16px;
    input {
        width: 100%;
        height: 48px;
        border-radius: 64px;
        border: 1px solid #D9D9D9;
        padding: 0 16px;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    input::placeholder {
        color: #8B8B8B;
    }
}
.connect__textarea {
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    height: 112px;
    max-height: 112px;
    min-height: 112px;
    border-radius: 24px;
    border: 1px solid #D9D9D9;
    padding: 15px 16px;
    margin-bottom: 24px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.connect__textarea::placeholder {
    color: #8B8B8B;
}
.connect__map {
    max-width: 805px;
    width: 100%;
    height: 430px;
    position: relative;
    iframe {
        width: 100%;
        height: 430px;
        border: 0;
    }
}

// catalogPage
.catalogPage {
    .container {
        padding-bottom: 120px;
    }
}
.catalogPage__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 28px;
}
.catalogPage__block {
    min-height: 450px;
    border: 1px solid #D9D9D9;
    position: relative;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all .3s ease;
    p {
        color: #000;
    }
    .price {
        color: #000;
        margin-top: 24px;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .main_btn {
        height: 48px;
        position: absolute;
        bottom: 24px;
        left: 24px;
        right: 24px;
        font-size: 16px;
    }
}
.catalogPage__block:hover {
    background: #F8F8F8;
    border-color: #F8F8F8;
}
.catalogPage__img {
    min-height: 244px;
    position: relative;
    overflow: hidden;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
    }
}
.catalogPage__content {
    min-height: 206px;
    padding: 24px;
    padding-bottom: 96px;
}

// recommendations
.recommendations {
    background: #F8F8F8;
    .container {
        padding-top: 120px;
        padding-bottom: 144px;
    }
}
.catalogPage__slider {
    margin-bottom: 32px;
    border-radius: 40px;
    overflow: hidden;
    .slick-prev, .slick-next {
        width: 68px;
        height: 47px;
        border-radius: 40px;
        border: 1px solid #D9D9D9;
        background: #F5F5F5;
        z-index: 9;
        top: 0;
        transform: translate(0);
    }
    .slick-prev {
        display: none !important;
        background: #F5F5F5 url(../img/arrow-prev.svg) no-repeat center;
    }
    .slick-next {
        background: #F5F5F5 url(../img/arrow-next.svg) no-repeat center;
        right: 0;
    }
    .slick-prev::before, .slick-next::before {
        display: none;
    }
    .block {
        transform: translateX(1px);
        margin-right: 15px;
        a {
            display: block;
            color: #505050;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 14px 24px;
            border-radius: 40px;
            border: 1px solid #D9D9D9;
            transition: all .3s ease;
        }
        a:hover {
            background: #68A1ED;
            border-color: #68A1ED;
            color: #ffff;
        }
    }
}
.catalogPage__filter {
    display: flex;
    margin-bottom: 56px;
    select {
        display: flex;
        border: 0;
        background-color: transparent;
        margin-right: 24px;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
.recommendations__slider {
    .slick-prev, .slick-next {
        width: 68px;
        height: 46px;
        border-radius: 40px;
        border: 1px solid #D9D9D9;
        background: #F5F5F5;
        z-index: 9;
    }
    .slick-prev {
        background: #F5F5F5 url(../img/arrow-prev.svg) no-repeat center;
    }
    .slick-next {
        background: #F5F5F5 url(../img/arrow-next.svg) no-repeat center;
    }
    .slick-prev::before, .slick-next::before {
        display: none;
    }
}
.recommendations__wrap {
    .catalogPage__block {
        max-width: 330px;
        width: 100%;
        margin: 0 auto;
        background: #fff;
    }
}

// product
.product {
    .container {
        padding-bottom: 120px;
    }
}
.product__box {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #D9D9D9;
    h2 {
        width: 100%;
    }
}
.product__img {
    max-width: 567px;
    width: 100%;
    height: 420px;
    margin-right: 28px;
    position: relative;
    overflow: hidden;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
    }
    .art {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        color: #8B8B8B;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
.product__characteristics {
    max-width: 310px;
    width: 100%;
    margin-right: 28px;
    h5 {
        margin-bottom: 24px;
        font-size: 20px;
    }
    li {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 12px;
    }
    p {
        color: #8B8B8B;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    h6 {
        color: #505050;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 4px;
    }
}
.product__aside {
    max-width: 330px;
    width: 100%;
    margin-left: auto;
    .wrap {
        background: #F8F8F8;
        padding: 24px;
    }
    h5 {
        font-weight: 500;
        margin-bottom: 32px;
    }
    .main_btn {
        width: 100%;
        font-size: 16px;
    }
}
.product__quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
    border-radius: 40px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    overflow: hidden;
    padding: 0 16px;
    .num {
        width: 200px;
        height: 48px;
        border: 0;
        background: transparent;
        color: #000;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .plus, .minus {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border: 0;
        background: transparent;
    }
}
.product__bottom {
    padding-top: 32px;
}
.product__tabBtn, .tabBtn {
    display: flex;
    margin-bottom: 32px;
    .btn {
        padding: 14px 24px;
        color: #505050;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-right: 16px;
        border-radius: 40px;
        background: transparent;
        border: 1px solid #D9D9D9;
        transition: all .2s ease;
    }
    .btn.active, .btn:hover {
        background: #68A1ED;
        border-color: #68A1ED;
        color: #fff;
    }
}
.product__tabBlock, .tabBlock {
    display: none;
    color: #505050;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    .wrap {
        max-width: 1045px;
        width: 100%;
    }
}
.product__tabBlock.active, .tabBlock.active {
    display: block;
}

// contacts
.contacts {
    .container {
        padding-bottom: 120px;
    }
}
.contacts__map {
    width: 100%;
    position: relative;
    iframe {
        width: 100%;
        height: 430px;
        border: 0;
    }
}
.map_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 174px;
    height: 174px;
    color: #8B8B8B;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: #FFF;
    position: absolute;
    top: 36px;
    right: 36px;
    z-index: 9;
    padding: 0 10px;
    svg {
        position: absolute;
        top: 16px;
        right: 16px;
        transition: all .3s ease;
    }
}
.map_link:hover {
    svg {
        transform: translate(5px, -5px);
    }
}

// basket
.basket {
    .container {
        padding-bottom: 120px;
    }
}
.basket__top {
    background: #F5F5F5;
    padding: 10px 16px;
}
.basket__wrap {
    margin-bottom: 56px;
}
.basket__block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 32px 0;
    border-bottom: 1px solid #D9D9D9;
    position: relative;
}
.basket__img {
    max-width: 210px;
    width: 100%;
    height: 156px;
    position: relative;
    overflow: hidden;
    margin-right: 28px;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
    }
}
.basket__content {
    max-width: 330px;
    width: 100%;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: auto;
    .art {
        color: #8B8B8B;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 16px;
    }
}
.basket__price {
    max-width: 190px;
    width: 100%;
    color: #505050;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 28px;
}
.basket__quantity {
    display: flex;
    align-items: center;
    max-width: 136px;
    width: 100%;
    height: 48px;
    margin-right: 90px;
    border-radius: 40px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    overflow: hidden;
    padding: 0 16px;
    .num {
        width: 50px;
        height: 48px;
        border: 0;
        background: transparent;
        color: #000;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .plus, .minus {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border: 0;
        background: transparent;
    }
}
.basket__delete {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
}

.crumbs {
    margin-bottom: 50px;
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }
    li {
        margin-right: 32px;
        margin-bottom: 16px;
        position: relative;
    }
    li::after {
        content: "/";
        color: #8B8B8B;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -18px;
    }
    li:last-child::after {
        display: none;
    }
    a {
        color: #8B8B8B;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    p {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
.basket__bottom {
    display: flex;
    flex-wrap: wrap;
}
.basket__form {
    max-width: 566px;
    width: 100%;
    margin-right: 28px;
    h5 {
        font-weight: 500;
        margin-bottom: 32px;
    }
}
.basket__payment {
    margin-top: 56px;
}
.basket__aside {
    max-width: 567px;
    width: 100%;
    margin-left: auto;
    .main_btn {
        width: 100%;
        font-size: 16px;
    }
    .wrap {
        background: #F5F5F5;
        padding: 40px;
    }
    h5 {
        font-weight: 500;
        margin-bottom: 24px;
    }
    ul {
        padding: 24px 0;
        border-top: 1px solid #D9D9D9;
        border-bottom: 1px solid #D9D9D9;
        margin-bottom: 24px;
    }
    li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        color: #505050;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    li:last-child {
        margin-bottom: 0;
    }
}
.basket__clear {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 24px;
    border-radius: 60px;
    border: 1px solid #D9D9D9;
    background: transparent;
    color: #8B8B8B;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
    margin-top: 40px;
}

// footer
.footer {
    background: #7592B9;
}
.footer__box {
    display: flex;
    flex-wrap: wrap;
}
.footer__top {
    padding: 80px 0 40px;
}
.footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 113px;
    height: 110px;
    margin-right: 125px;
    img {
        width: 100%;
    }
}
.footer__wrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    width: 100%;
    p {
        width: 100%;
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}
.footer__map, .footer__email {
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 40px;
    margin-bottom: 24px;
    svg {
        margin-right: 8px;
    }
}
.footer__right {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer__phone {
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
    svg {
        margin-right: 8px;
    }
}
.footer__call {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: transparent;
    border: 0;
    padding-bottom: 4px;
    border-bottom: 1px dotted #FFF;
}
.footer__bottom {
    padding: 40px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    a:hover {
        text-decoration: underline;
    }
}
.footer__copy {
    max-width: 928px;
    width: 100%;
    h6 {
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 16px;
        span {
            color: rgba(255, 255, 255, 0.50);
            margin-right: 16px;
        }
    }
    p {
        color: rgba(255, 255, 255, 0.50);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        a {
            color: #FFF;
        }
    }
}
.footer__kontur {
    display: flex;
    align-items: center;
    margin-left: auto;
    a {
        display: block;
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 6px 0;
    }
    img {
        margin-left: 8px;
    }
}

.header__burgir {
    display: none;
}
@media screen and (max-width: 1450px) {
    .recommendations__slider .slick-prev {
        left: 0;
    }
    .recommendations__slider .slick-next {
        right: 0;
    }
}
@media screen and (max-width: 1250px) {
    .footer__right {
        margin: 0;
    }
    .footer__wrap p{
        margin-bottom: 32px;
    }
    .header__navbar > ul li {
        margin-right: 24px;
    }
    .header__navbar > ul a {
        font-size: 14px;
    }
    .header__search {
        width: 390px;
    }
    .news__block h5 {
        font-size: 16px;
    }
    .product__aside {
        margin: 0;
        margin-left: 595px;
        margin-bottom: 40px;
    }
    .header__logo {
        width: 60px;
        height: 60px;
    }
}
@media screen and (max-width: 1200px) {
    .basket__aside {
        max-width: 500px;
    }
}
@media screen and (max-width: 1130px) {
    .basket__aside {
        max-width: 400px;
    }
}
@media screen and (max-width: 1025px) {
    .connect__form {
        max-width: 100%;
    }
    .header__catalog .block {
        max-width: 100%;
    }
    .basket__form {
        max-width: 100%;
    }
    .container {
        max-width: 768px;
    }
    section {
        display: none;
    }
    .header__burgir {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 16px;
        left: 16px;
        border: 0;
        background: transparent;
        span {
            width: 24px;
            min-height: 2px;
            height: 2px;
            border-radius: 2px;
            background: #000;
            margin: 2.5px 0;
            transition: all .3s ease;
        }
    }
    .header__burgir.active {
        span:nth-child(2) {
            opacity: 0;
        }
        span:nth-child(1) {
            transform: translateY(7px);
        }
        span:nth-child(3) {
            transform: translateY(-7px);
        }
    }
    .header__burgir.rotate {
        span:nth-child(1) {
            transform: translateY(7px) rotate(45deg);
        }
        span:nth-child(3) {
            transform: translateY(-7px) rotate(-45deg);
        }
    }
    .header {
        position: fixed;
        height: 64px;
        overflow: hidden;
        transition: all .5s ease;
    }
    .header.open {
        height: 100vh;
        .header__top {
            opacity: 1;
            transition: all .3s ease;
            transition-delay: 0.4s;
        }
    }
    .header::before {
        content: "";
        width: 100%;
        height: 64px;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
    }
    .header__map, .header__email {
        display: none;
    }
    .header__top {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding-top: 24px;
        padding-bottom: 60px;
        background: #fff;
        opacity: 0;
        transition: all 0s ease;
        transition-delay: 0s;
    }
    .header__items {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
    }
    .header__phone {
        margin-bottom: 24px;
    }
    .header__navbar {
        order: 1;
        flex-direction: column;
        align-items: flex-start;
    }
    .header__navbar > ul {
        flex-direction: column;
    }
    .header__catalogBtn {
        margin-bottom: 24px;
        background: #68A1ED;
        border-color: #68A1ED;
        color: #fff;
        path {
            stroke: #fff;
        }
    }
    .header__navbar > ul li {
        width: 100%;
        margin: 0;
        margin-bottom: 24px;
    }
    .header__right {
        width: 100%;
        margin: 0;
        margin-bottom: 40px;
    }
    .header__search {
        width: 100%;
        margin: 0;
    }
    .header__cart {
        position: absolute;
        top: 16px;
        right: 16px;
        z-index: 2;
        width: 32px;
        height: 32px;
        svg {
            width: 26px;
            height: auto;
        }
    }
    .header__cart span {
        top: -3px;
        right: -7px;
    }
    .header__bottom {
        padding-top: 80px;
        .container {
            height: calc(100vh - 220px);
            overflow-y: auto;
        }
    }
    .header__logo {
        position: absolute;
        top: 8px;
        left: 50%;
        z-index: 2;
        transform: translateX(-50%);
        width: 48px;
        height: 48px;
    }
    .main {
        padding-top: 80px;
    }
    .footer__top {
        padding: 48px 0 24px 0;
    }
    .footer__logo {
        width: 65px;
        height: 65px;
        margin: 0 auto;
        margin-bottom: 32px;
    }
    .footer__map, .footer__email {
        font-size: 14px;
        margin-bottom: 8px;
    }
    .footer__email {
        margin-bottom: 16px;
    }
    .footer__map svg, .footer__email svg {
        width: 24px;
        height: auto;
    }
    .footer__wrap p {
        font-size: 14px;
    }
    .footer__right {
        margin-left: 0;
        align-items: flex-start;
    }
    .footer__phone {
        font-size: 14px;
        margin-bottom: 8px;
    }
    .footer__phone svg {
        width: 24px;
        height: auto;
    }
    .footer__call {
        font-size: 14px;
    }
    .footer__bottom {
        padding: 24px 0;
    }
    .footer__kontur {
        margin-left: 0;
        margin-top: 16px;
    }
    .footer__copy h6 {
        font-weight: 500;
        span {
            display: block;
            margin-bottom: 4px;
        }
    }
    .footer__copy p {
        font-weight: 400;
        a {
            font-weight: 500;
        }
    }
    .footer__kontur img {
        margin-left: 24px;
    }
    .banner {
        display: block;
        margin-top: -16px;
    }
    .banner__wrap {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .banner__block h1, .banner__block h2 {
        font-size: 24px;
        margin-bottom: 24px;
    }
    .banner__block {
        min-height: 385px;
    }
    .main_btn {
        font-size: 14px;
        padding: 16px 36px;
    }
    .banner__slider .slick-dots {
        bottom: 16px;
    }
    .banner__slider .slick-dots li {
        width: 8px;
        height: 8px;
        margin: 0 6px;
    }
    .catalog {
        display: block;
    }
    .catalog__block {
        width: 100%;
        min-height: 220px;
        margin-bottom: 8px;
    }
    .catalog__link {
        bottom: 16px;
        left: 16px;
        right: 16px;
        font-size: 16px;
        svg {
            width: 24px;
            height: 24px;
        }
    }
    .catalog__block:nth-child(2), .catalog__block:nth-child(3) {
        width: calc(50% - 4px);
    }
    .catalog__box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        grid-gap: 0;
    }
    .catalog__block h5 {
        font-size: 16px;
        left: 16px;
        top: 16px;
    }
    .catalog .container {
        padding-top: 56px;
        padding-bottom: 50px;
    }
    h2 {
        font-size: 20px;
        margin-bottom: 24px;
    }
    .company {
        display: block;
    }
    .company .container {
        padding-top: 56px;
        padding-bottom: 56px;
    }
    .company__box {
        justify-content: space-between;
    }
    .company__text {
        font-size: 16px;
        margin-bottom: 24px;
    }
    .company__left, .company__right {
        width: calc(50% - 4px);
        height: 148px;
        margin: 0;
        margin-bottom: 8px;
    }
    .company__link {
        width: calc(50% - 4px);
        height: 148px;
        font-size: 16px;
        padding: 0 26px;
        margin-left: auto;
    }
    .company__link svg {
        width: 24px;
        height: auto;
        top: 8px;
        right: 8px;
    }
    .news {
        display: block;
    }
    .news .container {
        padding-top: 56px;
        padding-bottom: 56px;
    }
    .news__block {
        width: 244px;
        min-height: 422px;
        flex-direction: column;
        padding: 16px;
        margin-right: 8px;
    }
    .news__box {
        width: calc(100% + 16px);
        display: block;
    }
    .news__img {
        min-width: 100%;
        width: 100%;
        height: 222px;
        margin: 0;
        margin-bottom: 16px;
    }
    .news__content {
        min-height: 152px;
        .icon {
            svg {
                width: 24px;
                height: auto;
            }
        }
    }
    .news__date {
        font-size: 14px;
    }
    .news__block h5 {
        margin-top: 8px;
    }
    h5 {
        font-size: 16px;
    }
    .connect {
        display: block;
    }
    .connect .container {
        padding-top: 56px;
        padding-bottom: 56px;
    }
    .connect__items {
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 24px;
    }
    .connect__item {
        margin: 0;
        margin-bottom: 12px;
    }
    .connect__item:last-child {
        margin-bottom: 0;
    }
    .connect__box {
        flex-direction: column;
    }
    .connect__map {
        order: -1;
        height: 308px;
        margin-bottom: 40px;
        iframe {
            height: 308px;
        }
    }
    .connect__input {
        margin-bottom: 8px;
    }
    .connect__input input {
        height: 45px;
        font-size: 14px;
    }
    .connect__textarea {
        min-height: 96px;
        height: 96px;
        max-height: 96px;
        font-size: 14px;
        margin-bottom: 16px;
    }
    .connect__form h6 {
        font-size: 12px;
    }
    .catalogPage {
        display: block;
    }
    .crumbs a, .crumbs p {
        font-size: 12px;
    }
    .crumbs li::after {
        font-size: 12px;
        right: -14px;
    }
    .crumbs li {
        margin-right: 24px;
        margin-bottom: 8px;
    }
    .crumbs {
        margin-bottom: 40px;
    }
    .catalogPage__slider {
        width: calc(100% + 16px);
        border-radius: 0;
    }
    .catalogPage__slider .block {
        margin-right: 12px;
    }
    .catalogPage__slider .block a {
        padding: 12px 20px;
        font-size: 12px;
    }
    .catalogPage__slider .slick-prev, .catalogPage__slider .slick-next {
        width: 60px;
        height: 41px;
        background-size: 40%;
    }
    .catalogPage__slider .slick-next {
        right: 10px;
    }
    .catalogPage__filter {
        margin-bottom: 24px;
    }
    .catalogPage__box {
        grid-template-columns: 1fr 1fr;
        grid-gap: 8px;
    }
    .catalogPage__block {
        min-height: 267px;
        font-size: 12px;
        text-align: center;
    }
    .catalogPage__img {
        min-height: 120px;
    }
    .catalogPage__content {
        min-height: 148px;
        padding: 16px;
        padding-bottom: 67px;
    }
    .catalogPage__block .price {
        font-size: 14px;
        margin-top: 8px;
    }
    .catalogPage__block .main_btn {
        height: 35px;
        padding: 10px;
        font-size: 12px;
        bottom: 16px;
        left: 16px;
        right: 16px;
    }
    .catalogPage .container {
        padding-bottom: 56px;
    }
    .recommendations {
        display: block;
    }
    .recommendations .container {
        padding-top: 56px;
        padding-bottom: 118px;
    }
    .recommendations__wrap .catalogPage__block {
        max-width: calc(100% - 4px);
    }
    .recommendations__slider .slick-prev, .recommendations__slider .slick-next {
        width: 60px;
        height: 38px;
        top: auto;
        bottom: -62px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        background-size: 40%;
    }
    .recommendations__slider .slick-prev {
        left: 38%;
    }
    .recommendations__slider .slick-next {
        left: 62%;
    }
    .contacts {
        display: block;
    }
    .contacts__map {
        iframe {
            height: 308px;
        }
    }
    .contacts .container {
        padding-bottom: 64px;
    }
    .product {
        display: block;
    }
    .product__box h2 {
        order: -2;
    }
    .product__img {
        height: 242px;
        order: -3;
        margin-right: 0;
        margin-bottom: 24px;
    }
    .product__img .art {
        font-size: 12px;
    }
    .product__aside {
        max-width: 100%;
        order: -1;
        margin: 0;
        margin-bottom: 40px;
        .wrap {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 16px;
        }
    }
    .product__aside h5 {
        width: 100%;
        font-size: 20px;
        margin-bottom: 24px;
    }
    .product__quantity {
        max-width: 120px;
        width: 100%;
        margin-bottom: 0;
    }
    .product__quantity .num {
        width: 34px;
    }
    .product__aside .main_btn {
        width: calc(100% - 128px);
        height: 48px;
        padding: 14px;
        font-size: 14px;
    }
    .product__characteristics {
        margin-right: 0;
    }
    .product__characteristics h5 {
        font-size: 16px;
        margin-bottom: 16px;
    }
    .product__characteristics p {
        font-size: 14px;
    }
    .product__characteristics h6 {
        font-size: 14px;
    }
    .product__box {
        border: 0;
    }
    .product__bottom {
        padding-top: 40px;
    }
    .product__tabBtn, .tabBtn {
        margin-bottom: 24px;
    }
    .product__tabBtn .btn, .tabBtn .btn {
        margin-right: 8px;
        padding: 12px 20px;
        font-size: 12px;
    }
    .product__tabBlock, .tabBlock {
        font-size: 14px;
    }
    .product .container {
        padding-bottom: 56px;
    }
    .basket {
        display: block;
    }
    .basket__top {
        display: none;
    }
    .basket__block {
        padding: 16px 0;
        padding-left: 126px;
    }
    .basket__img {
        max-width: 118px;
        height: 88px;
        margin-right: 0;
        position: absolute;
        top: 16px;
        left: 0;
    }
    .basket__content + .basket__price {
        display: none;
    }
    .basket__content .art {
        font-size: 12px;
        margin-bottom: 5px;
    }
    .basket__delete {
        width: 24px;
        height: 24px;
        right: 0;
        top: 16px;
        transform: translate(0);
        svg {
            width: 24px;
            height: 24px;
        }
    }
    .basket__content {
        font-size: 14px;
        margin-bottom: 8px;
        p {
            max-width: 170px;
            width: 100%;
        }
    }
    .basket__price {
        margin: 0;
        font-size: 14px;
    }
    .basket__quantity {
        width: auto;
        height: auto;
        margin-bottom: 8px;
        padding: 0;
        border: 0;
    }
    .basket__quantity .num {
        width: 40px;
        height: 24px;
        font-size: 14px;
    }
    .basket__wrap {
        margin-bottom: 40px;
    }
    .basket__form {
        margin-right: 0;
        margin-bottom: 40px;
    }
    .basket__form h5 {
        text-align: center;
        margin-bottom: 24px;
    }
    .basket__payment {
        margin-top: 40px;
    }
    .basket__aside {
        max-width: 100%;
    }
    .basket__aside .wrap {
        padding: 24px;
    }
    .basket__aside h5 {
        margin-bottom: 8px;
    }
    .basket__aside ul {
        padding: 8px 0;
        margin-bottom: 8px;
    }
    .basket__aside li {
        margin-bottom: 8px;
        font-size: 14px;
    }
    .basket__clear {
        margin-top: 24px;
        margin-bottom: 8px;
        padding: 16px 36px;
    }
    .basket .container {
        padding-bottom: 64px;
    }
    .map_link {
        width: 150px;
        height: 116px;
        right: 8px;
        top: 8px;
        font-size: 14px;
        padding: 0 28px;
    }
    .map_link svg {
        top: 8px;
        right: 8px;
        width: 16px;
        height: 16px;
    }
    .header__catalog {
        position: fixed;
        top: -100vh;
        left: 0;
        z-index: 9;
        height: 100vh;
        h5 {
            .right {
                min-width: 20px;
                display: flex;
                margin-left: auto;
            }
        }
        .container {
            padding-top: 80px;
        }
        .header__search {
            display: block;
        }
    }
    .header__catalog.open {
        top: 0;
        height: 100vh;
        .catalog_top {
            position: fixed;
        }
    }
    .catalog_top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 64px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background: #fff;
        padding: 0 16px;
        .back, .close {
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;
            background: transparent;
        }
        .back {
            opacity: 0;
            transition: all .2s ease;
        }
        .back.active {
            opacity: 1;
        }
    }
    .header__catalog .box {
        flex-direction: column;
    }
    .header__catalog h5 {
        font-size: 16px;
        margin: 0;
        padding: 16px 0;
        border-bottom: 1px solid #F8F8F8;
    }
    .header__catalog .img {
        min-width: 32px;
        width: 32px;
        height: 32px;
        margin-right: 8px;
    }
    .header__catalog .block ul {
        width: 100%;
        height: calc(100vh - 64px);
        position: absolute;
        top: 64px;
        right: -100%;
        z-index: 2;
        background: #fff;
        transition: all .3s ease;
        padding: 63px 16px 50px;
        overflow-y: auto;
    }
    .header__catalog h5.active + ul {
        right: 0;
    }
    .header__catalog .block {
        margin: 0;
    }
    .header__catalog .box {
        padding-top: 24px;
    }
    .header__catalog li {
        margin: 0;
        border-bottom: 1px solid #F8F8F8;
        a {
            display: block;
            padding: 16px;
        }
    }
    .modal__block {
        padding: 32px 16px;
    }
    .modal__close {
        top: 16px;
        right: 16px;
    }
}